<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hulahoop.blueback.dao.UserMapper">

    <!-- username(id)으로 회원 조회 -->
    <select id="findByUsername" parameterType="string" resultType="com.hulahoop.blueback.dto.MemberDTO">
        SELECT *
        FROM T_Member
        WHERE id = #{username}
    </select>

    <!-- member_code로 회원 조회 -->
    <select id="findByMemberCode" parameterType="string" resultType="com.hulahoop.blueback.dto.MemberDTO">
        SELECT *
        FROM T_Member
        WHERE member_code = #{memberCode}
    </select>

    <!-- 회원 등록 -->
    <insert id="insertMember" parameterType="com.hulahoop.blueback.dto.MemberDTO">
        INSERT INTO T_Member (
        member_code, name, id, password, phone_num, email, address, user_type, notifiation_status
        ) VALUES (
        #{memberCode}, #{name}, #{username}, #{password}, #{phoneNum},
        #{email}, #{address}, #{userType}, #{notificationStatus}
        )
    </insert>

    <!-- 회원 정보 수정 -->
    <update id="updateMember" parameterType="com.hulahoop.blueback.dto.MemberDTO">
        UPDATE T_Member
        SET
        name = #{name},
        password = #{password},
        phone_num = #{phoneNum},
        email = #{email},
        address = #{address},
        user_type = #{userType},
        notifiation_status = #{notificationStatus}
        WHERE member_code = #{memberCode}
    </update>

    <!-- 회원 삭제 -->
    <delete id="deleteMember" parameterType="string">
        DELETE FROM T_Member
        WHERE member_code = #{memberCode}
    </delete>

</mapper>
